.introduce-container{
    margin-top: 112px;
    margin-left: 24px;
}

.introduce-container .big-title{
    font-family: 'Nunito', sans-serif !important;
    font-weight: 600 !important;
    font-style: normal;
}

.list-topic{
    
}

.content-intro4,
.content-intro3,
.content-intro2,
.content-intro{
    display: flex;
    background: #85CF92;
    border-radius: 12px;
    padding: 16px 32px;
    margin: 32px 0;
    margin-right: 24px;
    height: 112px;
    align-items: center;  /* căn giữa so vs ptu chứa nó */
}

.item-intro{
    text-decoration: none; 
}

.des-intro{
    margin-left: 32px;
    line-height: 1.6;
    color: #000;
}

.content-intro2{
    background: #fd7e14;
}

.content-intro3{
    background: #0d6efd;
}

.content-intro4{
    background: #198754;
}

/* Start: hướng dẫn chi tiết */

.rich-text{
    line-height: 3;
}

.img-intro{
    width: 1024px;
    margin: 32px 140px;
    border-radius: 15px;
}

.download-intro{
    margin: 32px 0 64px;
}
/* End: hướng dẫn chi tiết */