
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu' sans-serif;
}

body{
    overflow: hidden;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, rgb(250, 89, 15), #34b67a);

}

section .color{
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1)
{
    top: -350px;
    width: 600px;
    height: 600px;
    background: #34b67a;
}

section .color:nth-child(2)
{
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #34b67a;
}

section .color:nth-child(3)
{
    bottom: 50px;
    right: 100px;
    width: 500px;
    height: 500px;
    background: #34b67a;
}

.box{
    position: relative;
}

.box .square{
    position: absolute;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
    0%, 100%
    {
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }
}

.box .square:nth-child(1){
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}

.box .square:nth-child(2){
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}

.box .square:nth-child(3){
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .square:nth-child(4){
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.box .square:nth-child(5){
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}
.container{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form h2{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.form h2::before{
    content: '';
    position: ab absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

.form .inputBox_sign,
.form .inputBox{
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.form .inputBox_sign{
    margin-top: 10px;
}

.form .inputBox_sign input,
.form .inputBox input{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);   
}

.form .inputBox_sign input{
    height: 32px;
    font-size: 14px;
}

.form .checkbox input{
    height: 16px;
}

.form .inputBox_sign input::placeholder,
.form .inputBox input::placeholder{
    color: #fff;
}

.form .inputBox_sign input[type="submit"],
.form .inputBox input[type="submit"]{
    background: #fff;
    color: #666;
    max-width: 140px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.form .inputBox_sign input[type="submit"]{
    margin-bottom: 10px;
    height: 38px;
}

.form .inputBox_sign input[type="submit"]:hover,
.form .inputBox input[type="submit"]:hover{
	background: #000;
	color: #fff;
}

.forget{
    margin-top: 5px;
    color: #fff;

}

.forget a{
    color: #fff;
    font-weight: 600;
}