.signin-block {
    width:600px;
    padding: 42px;
    background: #F3F9F5;
    border-radius: 5px;
    margin: 42px auto;
	font-size: 16px;
}

.table-signin{
	margin-left: 30px;
}

.signin-block h1 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
	color:#34b67a;
}

.signin-block input {
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;

    padding-left: 20px;
    outline: none;
}

.signin-block input#cb{
    width: 10%;
    height: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
   
    padding-left:20px;
    outline: none;
}

.signin-block select {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
     padding-left:20px;
    outline: none;
}
.signin-block select:active, .signin-block select:focus{
    border: 1px solid #5EC208;
	color:#5EC208;
}
.signin-block input:active, .signin-block input:focus {
    border: 1px solid #5EC208;
	color:#5EC208;
}

.signin-block input#signin {
    width: 50%;
    height: 40px;
    background: #5EC208;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #5EC208;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
	padding-left:0px;
}

.signin-block input#signin:hover {
    background: #85e036;
}

.signin-block .btn-Sigin:hover{
	background: #34b67a;
}

.signin-block input:hover{
	background: #E7F7FB;
}