@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu' sans-serif;
}

:root{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --green: #8de02c;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.container
{
    position: relative;
    width: 100%;
}

.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transform: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 80px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}

.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    /* Khi rê chuột qua sẽ k chịu ảnh hưởng của cái hover phía trên */
    /* pointer-events: none;  */
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--blue);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon{
	margin-top: 10px;
    /* Kích thước cho icon */
    font-size: 1.75em;
}

.main-title{
    font-size: 30px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    
}

/* curve outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    /* Tạo cái kiểu cho li khi rê chuột vào */
     content: '';
     position: absolute;
     right: 0;
     top: -50px;
     width: 50px;
     height: 50px;
     background: transparent;
     border-radius: 50%;
     box-shadow: 35px 35px 0 10px var(--white);
     pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    /* Tạo cái kiểu cho li khi rê chuột vào */
     content: '';
     position: absolute;
     right: 0;
     bottom: -50px;
     width: 50px;
     height: 50px;
     background: transparent;
     border-radius: 50%;
     box-shadow: 35px -35px 0 10px var(--white);
     pointer-events: none;
}

/* main */
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active{
    width: calc(100% - 540px);
    left: 80px;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search_sub,
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search_sub{
    width: 300px;
}

.search_sub label,
.search label{
    position:relative;
    width: 100%;
}

.search_sub label input,
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--black2);
}

.search_sub label input{
    height: 32px;
}

.search_sub label ion-icon,
.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Start: cardbox */
.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardBox .card{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}

.cardBox .card .cardName{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card .iconBx{
    font-size: 3.5em;
    color: var(--black2);
}

.cardBox .card:hover{
    background: var(--blue);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx{
    color: var(--white);
}

/* End: cardbox */

/* Start: Content main */
.details-route,
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    /* Chia cột */
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.details-route{
    grid-template-columns: none;
}

.details-route .recentOrders,
.details .recentOrders{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.details-route .cardHeader,
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.details-route .cardHeader h2,
.cardHeader h2{
    font-weight: 600;
    color: var(--blue);
}

.details-route .btn,
.details .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    width: 90px;
    margin-left: 6px;
}

.details .btn_input{
    width: 62px;
    border: 1px solid #fff;
    cursor: pointer;
    margin: 0 5px;
}

.details-route table,
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details-route table thead td,
.details table thead td{
    font-weight: 600;
}

.details-route .recentOrders table tr,
.details .recentOrders table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details-route .recentOrders table tr:last-child,
.details .recentOrders table tr:last-child{
    border-bottom: none;
}

.details-route .recentOrders table tbody tr:hover,
.details .recentOrders table tbody tr:hover{
    background: var(--blue);
    color: var(--white );
}

.details-route .recentOrders table tr td,
.details .recentOrders table tr td{
    padding: 10px;
}

/* Cho cột cuối cùng sát bên phải
.details .recentOrders table tr td:last-child{
    text-align: end;
} */

.details-route .recentOrders table tr td:last-child{
    text-align: center;
}

.status.delivered{
    padding: 2px 6px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.recentCustomers{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    background: var(--white);
}

.recentCustomers .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recentCustomers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr:hover{
    background: var(--blue);
    color: var(--white);
}

.recentCustomers table tr td{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;    
}

.recentCustomers table tr td h4 span{
    font-size: 14px;
    color: var(--black2);
}


/* Responsive design */
@media (max-width: 991px)
{
    .navigation{
        left: -300px;
    }
    .navigation.active{
        width: 300px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px)
{
    .details{
        grid-template-columns: repeat(1, 1fr);
    }

    .recentOrders{
        overflow-x: auto;
    }
    
}

@media(max-width: 480px)
{
    .cardBox{
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2{
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;

    }
    .toggle{
        z-index: 10001;
    }
    .main.active .toggle{
        position: relative;
        right: 0;
        left: initial;
        color: #fff;
    }
}

/* Modal */
.modalUp,
.modalDel,
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modalUp.open,
.modalDel.open,
.modal.open{
    display: flex;
}

.modalUp .modal-container,
.modalDel .modal-container,
.modal .modal-container{
    animation: modalFaceIn ease 0.5s;
    position: relative;
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
}

.modalUp .modal-close,
.modalDel .modal-close,
.modal .modal-close{
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modalUp .modal-close:hover,
.modalDel .modal-close:hover,
.modal .modal-close:hover{
    opacity: 1;
    color: #000;
    background-color: lavender;
}

.modalUp .modal-header,
.modalDel .modal-header,
.modal .modal-header{
    background: var(--blue);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #fff;
    letter-spacing: 2px;
}

.modalUp .modal-heading-icon,
.modalDel .modal-heading-icon,
.modal .modal-heading-icon{
    margin-right: 16px;
}

.modalUp .modal-body,
.modalDel .modal-body,
.modal .modal-body{
    padding: 16px;
}

.modalUp .modal-label,
.modalDel .modal-label,
.modal .modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modalUp .modal-input,
.modalDel .modal-input,
.modal .modal-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

.modalUp .edit_route .modal-input,
.modal .edit_route .modal-input{
    margin-bottom: 8px;
    height: 32px;
}

.modal_user .edit_route_user .modal-input{
    margin-bottom: 16px;
}

#crud_up,
#crud_del,
#crud_add{
    width: 100%;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 16px;
    margin: 16px 0;
    background: var(--blue);
    cursor: pointer;
}

#crud_up:hover,
#crud_del:hover,
#crud_add:hover{
    color: #000;
    background: lavender;
}

.modalUp .modal-footer,
.modalDel .modal-footer,
.modal .modal-footer{
    padding: 16px;
    text-align: right;
    margin-bottom: 10px;
}

.modalUp .modal-footer a,
.modalDel .modal-footer a,
.modal .modal-footer a{
    color: #2196F3;
}

@keyframes modalFaceIn{
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.checkbox_privacy{
    display: flex;
}

.checkbox_gender{
    display: flex;
}
/* End: Modal */

/* QLNGUOIDUNG */
.checkbox_privacy{
    display: flex;
}

.checkbox_gender{
    display: flex;
}

.status.privacyadmin{
    padding: 2px 6px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

/* QLTRAM */
.imgBx img{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin: 20px 0;
	}
.text-feedback{
	margin-left: 10px;
}

.tram_page .sub_tram_page{
	background: #f7f7f7;
	border: 1px solid #ccc;
	padding: 4px;
	line-height: 2.2;
	margin: 0 4px;
	text-decoration: none;
	color: #000;
}

.tram_page .sub_tram_page:hover{
	background: #287bff;
	color: #fff;
}